.contenedor{
	background-color: #faf884;
	border: 1px solid black;
	width: 964px;

}
h3{
	text-align: center;
}

.caja1{
	width: 300px;
	height: 420px;
	float: left;
	border: 1px solid black;

}

h4{
	text-align: center;
	padding-right: 25px;
}

.imagen1{
	width: 250px;
	height: 250px;
	margin-left: 10px;
}

.caja2{
	width: 300px;
	height: 420px;
	float: left;
	border: 1px solid black;
	padding-right: 15px;
	padding-left: 15px;

}

.caja3{
	width: 300px;
	height: 420px;
	float: left;
	border: 1px solid black;
	padding-right: 15px;
	padding-left: 15px;
}

.imagen2{
	width: 95%;
	height: 45%;
	margin-left: 8px;
}

footer{
	background-color: #faf884;
	overflow: auto;
	bottom: 140px;
	border: 1px solid black;
	width: 964px;
	height: 30px;
	text-align: center;
	padding-bottom: 15px;
}